.idea
**/target/*
/rollup-starter-data/
/crates/provers/risc0/guest-mock/target
/crates/provers/sp1/guest-celestia/elf/riscv32im-succinct-zkvm-elf
/crates/provers/sp1/guest-mock/elf/riscv32im-succinct-zkvm-elf
docker/credentials/*
!docker/credentials/bridge-0.addr
!docker/credentials/bridge-0.key
.keys
crates/rollup/mock_da.sqlite
rollup-schema.json
runtime_call.json
**/.DS_Store

# ignore FHE-related files in the test-data directory
test-data/keys/private_key.json
test-data/requests/fhe/*
test-data/genesis/**/confidential_token.json
