{
    "minimum_attester_bond": [1000, 1000],
    "minimum_challenger_bond": [1000, 1000],
    "initial_attesters": [
        ["{{ attester_genesis_rollup_address }}", 1000]
    ],
    "rollup_finality_period": 5,
    "maximum_attested_height": 0,
    "light_client_finalized_height": 0
}
