{
  "seq_rollup_address": "{{ sequencer_genesis_rollup_address }}",
  "seq_da_address": "{{ sequencer_genesis_da_address }}",
  "minimum_bond": [500000, 500000],
  "seq_bond": 10000000,
  "is_preferred_sequencer": true
}
